Package: com.reinfinity.ios
Name: ReInfinity
Version: 0.2.0
Architecture: iphoneos-arm
Description: Connects Disney Infinity to a ReInfinity server instead of Disney's shutdown servers.
Maintainer: finthetechguy
Author: finthetechguy
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
